#Studenttodo table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Studenttodo td,
#Studenttodo th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#Studenttodo tr:nth-child(even) {
  background-color: #000000;
  color: white;
}

#Studenttodo tr:nth-child(odd) {
  background-color: #000000d1;
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* input {
  outline: none;
  transition: all 300ms ease-in-out;
}
input:hover {
  background-color: #030303;
  color: #ffffff;
  box-shadow: 0 0px 30px -10px white;
} */

/* latest css v2 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

::-webkit-scrollbar {
  @apply hidden;
}

.container {
  @apply mx-auto px-3 md:px-5 lg:px-0;
}

.placeholder_input {
  @apply placeholder:text-[#929FB1] placeholder:leading-[150%] placeholder:font-inter placeholder:font-normal placeholder:text-base;
}

.messagebox {
  align-self: stretch;
  border-radius: 16px 16px 0px 16px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
  @apply bg-[#EBF1FF] flex flex-col justify-end items-end min-w-[100px];
}

.messagebox2 {
  border-radius: 16px 16px 16px 0px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  @apply bg-white flex flex-col justify-start items-start min-w-[100px];
}

.message-box-popup {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  @apply bg-white flex flex-col justify-start items-start rounded-md px-2 pb-1 pt-4 z-50;
}

.profile {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  @apply w-10 h-10 md:w-14 md:h-14 rounded-full bg-white;
}

.profile-nav {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  @apply w-10 h-10 rounded-full bg-white;
}

.messagebox p {
  @apply font-normal leading-[150%] font-inter text-[#181D25] text-base w-full;
}

.time_stamp {
  @apply text-[#929FB1] text-right font-inter text-[13px] font-normal leading-[150%] inline-block;
}

.option-ul li {
  @apply text-[#929FB1] text-left font-inter text-[13px] font-normal leading-[150%] inline-block p-[2px] mb-[2px] border-[.5px] border-transparent border-solid rounded-md w-full hover:border-[#929FB1] transition-all duration-300 cursor-pointer;
}

.cross-icon {
  @apply text-[#929FB1] text-left font-inter text-[24px] font-normal inline-block absolute top-[9px] right-[2px] rotate-45 transition-all duration-300 cursor-pointer leading-[0];
}

/* login page  */
.signup-container {
  @apply max-w-[700px] border-solid border-2 border-white md:pt-14 min-h-[80vh] mx-auto backdrop-blur-[10px] bg-[#54565c44] p-4 md:px-16 md:pb-36 rounded-3xl md:rounded-[50px];
}

#login-page h2 {
  @apply text-white font-inter text-4xl md:text-[52px] font-bold leading-[1] text-center py-4;
}

#login-page h3 {
  @apply text-white font-inter text-base font-medium leading-[1] text-center mb-8 md:mb-[70px];
}

#login-page h4 {
  @apply text-red-500 font-inter text-base font-medium leading-[1] text-start -mt-6;
}

#login-page h3 span,
.name-logo {
  @apply cursor-pointer text-[#6297e1];
}

.name-logo {
  @apply text-xs whitespace-nowrap;
}

#login-page .lable-parent label,
#login-page .lable-parent input {
  @apply block;
}

#login-page .lable-parent {
  @apply flex flex-col max-w-[520px];
}

#login-page .lable-parent label {
  @apply text-white font-inter text-sm md:text-lg leading-[1] font-bold;
}

#login-page .lable-parent input {
  @apply text-white font-inter text-xs md:text-base leading-[1] font-medium w-full border-b-2 border-white border-solid bg-transparent min-h-[25px] md:min-h-[32px] mb-6 md:mb-7 outline-none md:px-4 mt-2 tracking-[.5px];
}

#login-page .btn-parent {
  @apply flex justify-center;
}

#login-page button {
  @apply rounded-[10px] bg-[#6297e1] py-3 md:py-4 mt-8 md:mt-10 mb-[30px] px-16 md:px-24 mx-auto font-semibold text-white text-base font-inter leading-[1] hover:bg-[#3a4758] transition-all duration-300;
}

#login-page .shaprator {
  @apply flex justify-center items-center relative before:absolute before:w-[25%] md:before:w-[35%] before:h-[2px] before:bg-white before:rounded-[3px] before:right-0 before:top-1/2 before:-translate-y-1/2 after:absolute after:w-[25%] md:after:w-[35%] after:h-[2px] after:bg-white after:rounded-[3px] after:left-0 after:top-1/2 after:-translate-y-1/2;
}

#login-page .shaprator-text {
  @apply text-white font-inter text-base font-medium leading-[1];
}
/* preloader */
.loader-5 {
  height: 32px;
  width: 32px;
  -webkit-animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-1 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loader-5-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-5::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: auto;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #011837;
  border-radius: 50%;
  -webkit-animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-2 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    -webkit-transform: translate3d(24px, 0, 0) scale(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
}
@keyframes loader-5-2 {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    transform: translate3d(24px, 0, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
}
.loader-5::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #0069fd;
  border-radius: 50%;
  -webkit-animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-3 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-3 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    -webkit-transform: translate3d(-24px, 0, 0) scale(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
}
@keyframes loader-5-3 {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    transform: translate3d(-24px, 0, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
}
.loader-5 span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 32px;
  width: 32px;
}

.loader-5 r {
  transform: scale(5);
}
.loader-5 span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #6297e1;
  border-radius: 50%;
  -webkit-animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-4 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-4 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    -webkit-transform: translate3d(0, 24px, 0) scale(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
}
@keyframes loader-5-4 {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    transform: translate3d(0, 24px, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
}
.loader-5 span::after {
  content: "";
  display: block;
  position: absolute;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 8px;
  height: 8px;
  background: #121924;
  border-radius: 50%;
  -webkit-animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
  animation: loader-5-5 2s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
@-webkit-keyframes loader-5-5 {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    -webkit-transform: translate3d(0, -24px, 0) scale(1);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.5);
  }
}
@keyframes loader-5-5 {
  0% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
  50% {
    transform: translate3d(0, -24px, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1.5);
  }
}
.bgLoader {
  background: url(./assets/Screenshot.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
/* chatlist  */
.chat-list-container h1 {
  @apply font-inter font-semibold leading-[150%] text-2xl text-[#181D25];
}
.chat-list-container .profile {
  @apply w-[40px] h-[40px];
}
.chat-list-container ul .profile {
  @apply w-[56px] h-[56px];
}
.chat-list-container input {
  @apply min-h-[40px] pl-[38px] pr-3 py-2 placeholder:text-[#929FB1] placeholder:font-inter placeholder:font-normal placeholder:leading-[150%] placeholder:text-[15px] text-[#6ea4ef] font-inter font-normal leading-[150%] text-[15px] rounded-[12px] outline-none border border-[#E1E5EA];
}

.chatAccesBtn {
  padding: 6px 17px 4px 7px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

  @apply flex h-[66px] items-center gap-x-5 mb-2 rounded-[12px] max-w-[360px]  transition-all duration-[100ms];
}
.chatAccesBtn h2 {
  @apply font-inter text-[15px] font-medium leading-[133%] text-[#181d25]  transition-all duration-[100ms];
}
.chatAccesBtn p,
.chatAccesBtn .timestamp {
  @apply font-inter text-[15px] font-normal leading-[133%] text-[#929FB1]   mt-1 transition-all duration-[100ms];
}
